canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: #2ec866;
}
.navbar{
    background-color: #39424e;
    font-family: Lato;
    
}
.fab{
    color: black;
}
#heading{
    font-size: 20px;
    color: #2ec866;
}