body{
    background-color: #06181F;
}
canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: #06181F;
    width: 100%;
    height: auto;

}
.navbar{
    background-color: #39424e;
    font-family: Lato;
    
}
#heading{
    font-size: 20px;
    color: #2ec866;
}
.portfolio{
    background-color: #6E851A;
    color: #06181F;
}
.about{
    padding: 10px;
    background-color: #B8DC38;
    color: #06181F;
}
.dp{
    width: 16%;
    border-radius: 100px;
}
.contact{
    background-color: #1F4A5B;
    padding: 10px;
    color: #B8DC38;
}
.about-me{
    padding-top: 10px;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 20px;
    margin-top: 70px;
    font-size: 18px;
    line-height: 40px;
}
.about-me #second {
    margin-top: 30px;
}
.c-link{
    color: #B8DC38;
    font-size: 300%;
    padding-left: 8%;
    padding-right: 8%;
}
.footer-link{
    color: #B8DC38;
    padding: 20px;
    text-align: right;
    
}